################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/console/ArduSimF1/ArduSimF1.VC.VC.opendb
