################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/console/ArduSimF1/ArduSimF1.VC.VC.opendb
/console/ArduSimF1/ArduSimF1.VC.db
/console/ArduSimF1/ArduSimF1/Debug/ArduSimF1.Build.CppClean.log
/console/ArduSimF1/ArduSimF1/Debug/ArduSimF1.log
